# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
*.userprefs
word-tree/*.csproj
*.pidb
*.suo
word-tree/*.sln*
*.user
*.unityproj
*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db 
# ======================== #
# ignore packaged app also #
# ======================== #
*.apk
# ======================================================== #
# app content - images and audio - except for some samples
# ======================================================== #
word-tree/Assets/Resources/audio/*.wav
word-tree/Assets/Resources/audio/*.wav.meta
word-tree/Assets/Resources/graphics/base-images/*.png
word-tree/Assets/Resources/graphics/base-images/*.png.meta
!word-tree/Assets/Resources/audio/chimes.wav
!word-tree/Assets/Resources/audio/chimes.wav.meta
!word-tree/Assets/Resources/audio/wakeup.wav
!word-tree/Assets/Resources/audio/wakeup.wav.meta
!word-tree/Assets/Resources/graphics/base-images/BlueBird.png
!word-tree/Assets/Resources/graphics/base-images/BlueBird.png.meta
!word-tree/Assets/Resources/graphics/base-images/dragon.png
!word-tree/Assets/Resources/graphics/base-images/dragon.png.meta
