# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
*.userprefs
word-tree/*.csproj
*.pidb
*.suo
word-tree/*.sln*
*.user
*.unityproj
*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db 
[Tt]humbs.db.meta

# ======================== #
# ignore packaged app also #
# ======================== #
*.apk
*.csproj
